.nav-bar{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 15px;
    margin-top: 5%;
    gap: 3em;
    
}
.nav-bar-item{
    display: flex;
    font-size: 23px;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 10%;
    color: #fff;
}
#pesquisar{
    align-items: right;
    border: 1px solid black;
    margin-left: 20%;
    border-radius: 5px;
    padding: 10px;
}
